.footer {
  background: #222222;
  padding: 40px 0;
  color: $white;

  a {
  font-size: 24px;
  padding: 0 10px;
  color: $white;

  &:visted {
    color: white;
  }
  &:hover {
  color: #9B2222;
  }
  }
  }
