<h1 class="text-center">Contact</h1>
<ul class="list-inline text-center">
   <li><%= image_tag "alison.jpg", class: 'img-circle photo-staff' %>
    <h2>Alison</h2></li>
    <li><%= image_tag "tim.jpg", class: 'img-circle photo-staff' %>
    <h2>Tim</h2></li>
 </ul>
<div class="text-center">
    <h2>Get in touch</h2>
    <p>Leave us your mail and we'll get in touch</p>
    <form class="form-inline">
        <input class="form-control" type="email" placeholder="katy@gmail.com"></input>
        <input class="btn btn-primary" type="submit" value="Contact"></input>
    </form>
    </div>
